<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="maths" class="com.example.demo.model.MathsExam"></bean>
<bean id="science" class="com.example.demo.model.ScienceExam"></bean>
<bean id="english" class="com.example.demo.model.EnglishExam"></bean>

<bean id="student" class="com.example.demo.model.Student">
<property name="exam" ref="english"></property>

</bean>



</beans>